<div class="form-group {{if invalid 'has-error'}}" id="password-edit-field">
  <label for="password1">Password</label>
  <div class="row">
    <div class="col-xs-6">
      <button type="button" name="button" class="btn btn-default btn-sm"
              {{action "generatePassword"}}>
        Generate password
      </button>
    </div>
    <div class="col-xs-6 text-right">
      <button type="button" name="button" class="btn btn-default btn-sm"
              {{action "showOptions"}} disabled={{showGeneratorOptions}}>
        Generator options
      </button>
    </div>
  </div>
  {{#if showGeneratorOptions}}
    <div class="well well-sm"><div class="row">
      <div class="col-xs-6 pass-gen-checkboxes">
        <label class="checkbox passGenUseChars">
          Use characters
        </label>
        <label class="checkbox passGenUseNumbers">
          Use numbers
        </label>
        <label class="checkbox passGenUseSymbols">
          Use symbols
        </label>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>Length</label>
          {{input type="number" class="form-control" step=1 min=1
                  value=passGenLength}}
        </div>
      </div>
    </div></div>
  {{/if}}
  <div class="row">
    <div class="col-xs-12 col-sm-6 has-preview">
      {{input type=inputType name="password1" class="form-control"
              value=password1}}
      <span class="fui-eye preview-password"
            {{action "previewPassword"}}>
      </span>
    </div>
    <div class="col-xs-12 col-sm-6">
      {{input type=inputType name="password2" class="form-control"
              value=password2 placeholder="Repeat password"}}
    </div>
  </div>
  <div id="password-strength-meter"></div>
</div>
