{{#if isBeingShown}}
  {{input value=passwordPlain class="fira" id=idSelector}}
  <p class="mt5">
    <button type="button" title="Copy" class="btn btn-default btn-sm clipboard"
            data-clipboard-target="#{{idSelector}}">
      <i class="fui-clip"></i> Copy password
    </button>
    <span class="pull-right">{{countdown}}</span>
  </p>
{{else}}
  <button class="btn btn-primary btn-large btn-block" {{action "showPassword"}}>
    View password
  </button>
{{/if}}
