<div class="row">
  <div class="col-sm-12 hidden-xs">
    <h1>Change your Master Password</h1>
  </div>
</div>

<form>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="old-password">Current Master Password</label>
        {{input name="old-password" class="form-control" type="password"
                value=oldMasterPassword}}
      </div>
      {{#if wrongMasterPassword}}
        <div class="alert alert-danger">
          Wrong master password
        </div>
      {{/if}}
      <div class="form-group">
        <label for="new-password-1">New Master Password</label>
        <p>{{input name="new-password-1" class="form-control" type="password"
                   value=newMasterPassword1}}</p>
        {{input name="new-password-2" class="form-control" type="password"
                value=newMasterPassword2 placeholder="Repeat password"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      {{#link-to 'passwords' class="btn btn-default"}}Cancel{{/link-to}}
      <button type="button" name="button" class="btn btn-primary"
              {{action "save"}} disabled="{{if notReadyToSave 'disabled'}}">
        Change Master Password
      </button>
    </div>
  </div>
</form>
