<form>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="service">Service</label>
        {{input name="service" class="form-control" value=model.service}}
      </div>
      <div class="form-group">
        <label for="account">Account</label>
        {{input name="account" class="form-control" value=model.account}}
      </div>

      {{#if wantsToModifyPassword}}
        {{edit-password-field action="updatePassword" settings=settings}}
      {{else}}
        <button type="button" class="btn btn-default"
                {{action "letsModifyPassword"}}>
          Modify password
        </button>
      {{/if}}

      <div class="form-group">
        <label>Tags</label>
        {{tags-input tags=model.tags action="updateTags"}}
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        {{textarea name="notes" class="form-control" rows="3"
                   value=model.notes}}
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-8">
    {{#link-to 'passwords' class="btn btn-default"}}Cancel{{/link-to}}
    <button type="button" name="button" class="btn btn-primary"
            {{action "save"}} disabled="{{if notReadyToSave 'disabled'}}">
      Save
    </button>
  </div>
  <div class="col-xs-4 text-right">
    {{#ask-confirmation cssClass="btn btn-danger" action="delete"}}
      Delete
    {{/ask-confirmation}}
  </div>
</div>

{{ask-master-password action="sendMasterPassword" flag=requestMasterPassword
                      testPassword=model}}
