<div class="row">
  <div class="col-sm-12 hidden-xs">
    <h1>Your Passwords</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    Filter by tags:
    <ul class="list-inline">
      {{#each allTags as |tag|}}
        <li>
          {{togglable-label text=tag action="toggleTag"}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="input-group">
      {{input class="form-control" placeholder="Search" value=searchText}}
      <span class="input-group-addon">
        <i class="fui-search"></i>
      </span>
    </div>
  </div>
</div>

<div class="row password-grid">
  {{#each filteredPasswords as |password|}}
    <div class="col-sm-6 col-md-4 col-lg-3"><div class="tile">
      <div class="row">
        <div class="col-xs-9">
          <h3 class="tile-title">{{password.service}}</h3>
        </div>
        <div class="col-xs-3 text-right">
          {{#link-to 'passwords.edit' password class="btn btn-sm btn-info" title="Edit"}}
            <span class="fui-gear"></span>
          {{/link-to}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <p>Account: "{{password.account}}"</p>
        </div>
        <div class="col-xs-4 text-right">
          {{#if password.notes}}
            <button type="button" class="btn btn-sm btn-default"
                    data-container="body" data-toggle="popover"
                    data-placement="left" data-content="{{password.notes}}">
              Notes
            </button>
          {{/if}}
        </div>
      </div>
      {{password-viewer-countdown password=password action="decipher"}}
    </div></div>
  {{else}}
    <div class="col-xs-12">
      <div class="alert alert-info">
        You don't have any passwords yet, please add one.
      </div>
      <div class="text-center">
        {{#link-to 'passwords.new' class="btn btn-primary"}}
          Add New Password
        {{/link-to}}
      </div>
    </div>
  {{/each}}
</div>

{{ask-master-password action="sendMasterPassword" flag=requestMasterPassword}}
